body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    margin-block: 3%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-block-end: 10px;
    
    & img {
        width: 40%;
        height: auto;
    }

    & h1 {
        margin: 1%;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: red;

    align-items: center;

    padding: 1%;
    padding-inline: 1.5%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & button {
        margin-block: 1%;
    }
}