body {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-width: 50%;
    background-color: red;

    align-items: center;

    padding: 1%;
    padding-inline: 1.5%;
}

.container header img {
    height: 160px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & button {
        margin-block: 1%;
    }
}